<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @convidado.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @convidado.email %>
</p>

<%= link_to 'Voltar', convidados_path, class:"btn btn-voltar btn-xs" %>
